body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:734px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#999999;
}
#u1 {
  position:absolute;
  left:55px;
  top:216px;
  width:101px;
  height:28px;
  font-size:20px;
  color:#999999;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:679px;
  height:634px;
}
#u3 {
  position:absolute;
  left:55px;
  top:251px;
  width:679px;
  height:634px;
}
#u4 {
  position:absolute;
  left:2px;
  top:309px;
  width:675px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5_div {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#999999;
}
#u5 {
  position:absolute;
  left:166px;
  top:216px;
  width:316px;
  height:23px;
  font-size:20px;
  color:#999999;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#999999;
}
#u8 {
  position:absolute;
  left:55px;
  top:956px;
  width:61px;
  height:28px;
  font-size:20px;
  color:#999999;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u10_div {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#999999;
}
#u10 {
  position:absolute;
  left:166px;
  top:956px;
  width:401px;
  height:28px;
  font-size:20px;
  color:#999999;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  white-space:nowrap;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:372px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u1.a {
  left:-3px;
  top:0px;
}
#u1_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#999999;
}
#u2.a {
}
#u3.a {
  left:-3px;
  top:26px;
  width:333px;
  height:435px;
}
#u3_img.a {
  width:333px;
  height:435px;
}
#u4.a {
  top:210px;
  width:329px;
}
#u5.a {
  left:59px;
  top:0px;
}
#u5_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#999999;
}
#u6.a {
}
#u8.a {
}
#u8_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#999999;
}
#u9.a {
}
#u10.a {
}
#u10_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#999999;
}
#u11.a {
}
